.header-background {
    background-color: var(--vscode-editorGroupHeader-tabsBackground);
}

.list-hover-background {
    background-color: var(--vscode-list-hoverBackground);
}

.dialog {
    outline: 1px solid var(--vscode-menu-border);
    border-radius: 5px;
    color: var(--vscode-menu-foreground);
    background-color: var(--vscode-menu-background);
    box-shadow: 0 2px 8px var(--vscode-widget-shadow);
}

::selection {
    color: var(--vscode-menu-background);
    background-color: var(--vscode-menu-foreground);
}

.title-big {
    font-size: 26px;
    font-weight: 600;
    color: var(--vscode-settings-headerForeground);
}

.title-small {
    color: var(--vscode-settings-headerForeground);
    font-weight: 600;
}

body {
    padding: 0px;
    width: 100%;
    height: 100%;
}


html {
    height: 100%;
    width: 100%;
}

#root {
    width: 100%;
    height: 100%;
    margin: 0;
}

div.resizable-content {
    min-height: 30px;
    min-width: 50px;
    resize: horizontal;
    overflow: auto;
}

.rotate {
    font-size: 12px;
    transform-origin: bottom left;
    transform: rotate(-90deg) translateY(100%);
}

.structure-result-element {
    margin-left: 5px;
    height: 25px;
    vertical-align: middle;
}

div.vertical-line {
    width: 2px;
    /* Line width */
    background-color: rgb(223, 90, 90);
    /* Line color */
    height: 100%;
    /* Override in-line if you want specific height. */
    display: inline-block;
    /* Causes the line to float to right of content. 
      You can instead use position:absolute or display:inline-block
      if this fits better with your design */
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-right: 1px solid var(--vscode-menu-foreground);
    z-index: 100;
}

.box1 {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    height: 28px;
    border-right: 1px solid var(--vscode-menu-foreground);
    background-color: white;
    z-index: 100;
}